<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
    
    <script type="text/javascript" src="HttpRequest.js"></script>
    
    <script>
    var app = angular.module('myApp', []);
    app.controller('myController', function($scope) {
        $scope.nameList = ["ye"];
        $scope.addName = function() {
            $scope.errortext = "";
            if(!$scope.name) {return;}
            if($scope.nameList.indexOf($scope.name) == -1) {
               $scope.nameList.push($scope.name); 
            }
            else
                $scope.errortext = "Error: This name is already in the list"
        }
        $scope.removeName = function(x) {
            $scope.errortext = "";
            $scope.nameList.splice(x,1);
        }
    });
        
<div ng-app="myApp">
    
<div ng-controller="myController">
    <p>
    Name: <input placeholder="Enter name here" ng-model="name">
    <button ng-click="addName()">Add me</button>
    </p>
    <ul>
        <li ng-repeat="x in nameList">
          {{x}} <span ng-click="removeName($index)">x</span>
        </li>
    </ul>
    <p>{{errortext}}</p>
</div>
    </div>

<p id="demo">ah </p>

    
</body>
</html>