<!-- ADMIN LOGIN PAGE -->
<title>Login page</title>
<menu-name title="Login Page"></menu-name>

    <p>Username</p>
    <input type="text"
           placeholder="Enter username"
           ng-model="username"
           required>

    <add-space></add-space>

    <p>Password</p>
    <input type="password"
           placeholder="Enter password"
           ng-model="password"
           required>

    <add-space></add-space>

    <button type="submit"
            ng-click="submit()">Login</button>

    <p >{{resp}}</p>

<admin-status></admin-status>