<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        span.psw {
            display: block;
        }
    </style>

    <h1 center>Login page</h1>
    <p><br></p>
    <p>Username</p>
    <input type="text"
           placeholder="Enter username"
           ng-model="username"
    required>

    <p></p>

    <p>Password</p>
    <input type="password"
           span class="psw"
           placeholder="Enter password"
           name = "psw"
           ng-model="password" >
    <p></p>
    <button type="submit">Login</button>

</head>
<body>

</body>
</html>