<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script>
        var app = angular.module('myApp', []);
        app.controller('myController', function($scope, $http) {
            $scope.resp = "";
            $scope.name = [""];
            $scope.list = [""];
            $scope.errormsg = "";
            $scope.addName = function()
            {
                if($scope.name.length == $scope.number)
                {
                    $http({
                        method: 'POST',
                        url: 'testing.php',
                        data: 'list=' + JSON.stringify($scope.name),
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    }).then(function success(response) {
                            $scope.resp = response.data;
                        },
                        function error(response) {
                            $scope.resp = response.statusText;
                        });
                    $scope.errormsg = "Added names succesfully";
                }
                else if($scope.name.length < $scope.number)
                    $scope.errormsg = "Error 101: \n Not all fields have been initialized";

                else
                {
                    $scope.errormsg = "Error: 102  \n Make sure unused submission area has been cleared";
                }
             };
            $scope.num = function ()
            {
                return new Array($scope.number);

            }
            $scope.removeName = function(x)
            {
                $scope.name.splice(x,1);
                $scope.number--;
             }
             $scope.reset = function()
             {
                 $scope.name = angular.copy($scope.list);
                 $scope.number = 0;
             }

        });
        </script>
        <h1>Wedding RSVP</h1>
     </head>

    <body>
    <div ng-app="myApp" ng-controller="myController">
        <p>How many people are coming?</p>
        <input type="number"
               placeholder="Enter total number of people coming"
               ng-model="number">

        <p>Enter full name here:</p>
        <div ng-repeat="x in num() track by $index">

            <input type="text"
                   placeholder="Enter name here"
                   ng-model="name[$index]">
            <span ng-click="removeName($index)">x</span>
        </div>
        <p></p>
        <button ng-click="addName()" ng-if="name.length" >Click to add name to list</button>
        <button ng-click="reset()">Reset</button>
       <p>{{name}}</p>
        <p style="color: red">{{errormsg}}</p>
    <!-- Tests for dev -->
        <p> List: {{list}}</p>
        <p>Response: {{resp}}</p>

    </div>
   </body>

</html>
